<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>


<body class="container">
<h1>Enter an Event You Would Like to Create:</h1>



<nav th:replace="fragments :: navigation"></nav>
<form method="POST" th:action="@{/events/edit}" >
    <div class="form-group">
        <label> Event Name
            <input type="text" name="name" class="form-control">
        </label>
        <label> Description
            <input type="text" name="description" class="form-control">
        </label>
        <label>
<!--            This is going to hide the input from the user, but will place an id value to the event-->
            <input type="hidden" th:value="${event.id}" name="eventId" />
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit Event" class="btn btn-success">
    </div>
</form>
</body>
</html>